{% extends "base.html" %}

{% block head_content %}
<title>Create new comment</title>
{% endblock %}


{% block container%}

<div class="container">
    <div class="row justify-content-md-center">
        <div class="col-6 pt-3 pb-3" id="profile-box">
            <h4 class="mb-4">Write a comment!</h4>

            <form method="post">
                {% csrf_token %}
                {{ form.as_p }}
                <button class="btn btn-primary btn-block mt-5" type="submit">Comment</button>
            </form>
        </div>
    </div>
</div>

{% endblock%}
