{% extends "base.html" %}

{% block head_content %}
<title>@{{ user.username }} | Platzigram</title>
{% endblock %}


{% block container %}

    <div class="container mb-5" style="margin-top: 8em;">
        <div class="row">

            <div class="col-sm-4 d-flex justify-content-center">
                <img
                    src="{{ user.profile.picture.url }}"
                    alt="@{{ user.username}}"
                    class="rounded-circle"
                    height="180px"
                    width="180px"
                />
            </div>

            <div class="col-sm-8">
                <h2 style="font-weight: 100;">
                    {{ user.username }}
                    {% if user == request.user %}
                        <a
                            href="{% url "update_profile" %}"
                            class="ml-5 btn btn-sm btn-outline-info"
                        >
                            Edit profile
                        </a>
                    {% else %}
                        <form action= "{% url 'follow_user' user.username %}" method="post" class="ml-5 btn btn-sm">
                          {% csrf_token%}
                          <!-- <a
                              href="{% url 'follow_user' user.username %}"
                              class="ml-5 btn btn-sm btn-primary"
                          >
                              Follow
                          </a> -->
                            <button class="btn btn-sm btn-primary" type="submit">
                              Follow</button>
                        </form>
                    {% endif %}
                </h2>

                <div class="row mt-2" style="font-size: 1.2em">
                    <div class="col-sm-4">
                        <b>{{ user.profile.posts_count }}</b> <a href="{% url 'detail_user' user.username %}">posts</a>
                    </div>
                    <div class="col-sm-4">
                        <b>{{ user.profile.followers_count }}</b> <a href="{% url 'follower_detail' user.username%}">followers</a>
                    </div>
                    <div class="col-sm-4">
                        <a href="{% url 'following_detail' user.username %}">following</a> <b>{{ user.profile.following_count }}</b>
                    </div>
                </div>
                <div class="row mt-4">
                    <div class="col-sm-12">
                        <p>{{ user.profile.biography }}</p>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <hr>

    <div class="container" id="user-posts">
        <div class="row">
            {% for profile in profiles %}
            <div class="col-sm-12 col-md-8 offset-md-2 mt-5 p-0 post-container">
              <div class="container mb-5" style="margin-top: 8em;">
                  <div class="row">

                      <div class="col-sm-4 d-flex justify-content-center">
                          <img
                              src="{{ profile.picture.url }}"
                              alt="@{{ profile.user}}"
                              class="rounded-circle"
                              height="180px"
                              width="180px"
                          />
                      </div>

                      <div class="col-sm-8">
                          <h2 style="font-weight: 100;">
                              {{ profile.user }}
                          </h2>

                          <div class="row mt-2" style="font-size: 1.2em">
                              <div class="col-sm-4">
                                  <b>{{ profile.posts_count }}</b> posts
                              </div>
                              <div class="col-sm-4">
                                  <b>{{ profile.followers_count}} </b> followers
                              </div>
                              <div class="col-sm-4">
                                   following <b>{{ profile.following_count }}</b>
                              </div>
                          </div>
                          <div class="row mt-4">
                              <div class="col-sm-12">
                                  <p>{{ profile.biography }}</p>
                              </div>
                          </div>
                      </div>
                  </div>
              </div>
            </div>
            {% endfor %}
        </div>
    </div>

{% endblock %}
